/* BELOW 1344px */

@media (max-width: 84em) {
  .main {
    .section-hero {
      > div {
        max-width: 120rem;

        .hero-text-box {
          .heading-primary {
            font-size: 4.4rem;
          }
        }
      }
    }

    .section-testimonials {
      .gallery {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

/* BELOW 1200px (Landscape Tablets) */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;

    .nav-main {
      .nav-main-list {
        gap: 3.2rem;
      }
    }
  }

  .main {
    .section-hero {
      > div {
        gap: 4.8rem;
      }
    }

    .section-how {
      > div {
        .heading-secondary {
          font-size: 3.6rem;
        }
      }

      .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;

        .step-text-box {
          .heading-tertiary {
            font-size: 2.4rem;
          }
        }
      }
    }

    .section-meals {
      > div {
        .heading-secondary {
          font-size: 3.6rem;
        }
      }

      .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;

        .diets {
          .heading-tertiary {
            font-size: 2.4rem;
          }
        }
      }
    }

    .section-testimonials {
      .testimonial-container {
        padding: 9.6rem 3.2rem;
        .heading-secondary {
          font-size: 3.6rem;
        }
      }
    }

    .section-pricing {
      > div {
        .heading-secondary {
          font-size: 3.6rem;
        }
      }

      .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
      }
    }

    .section-cta {
      > div {
        .cta {
          .cta-text-box {
            .heading-secondary {
              font-size: 3.6rem;
            }
          }
        }
      }
      .heading-secondary {
        font-size: 3.6rem;
      }
    }
  }

  .footer {
    .grid {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
    }
  }
}

/* BELOW 944px (Tablets) */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .header {
    .nav-main {
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;

      .nav-main-list {
        flex-direction: column;
        gap: 4.8rem;

        .nav-main-link {
          &:link,
          &:visited {
            font-size: 3rem;
          }
        }
      }
    }

    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }
  }

  .nav-open {
    .nav-main {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
    }

    .btn-mobile-nav {
      .icon-mobile-nav[name='menu-outline'] {
        display: none;
      }
    }

    .btn-mobile-nav {
      .icon-mobile-nav[name='close-outline'] {
        display: block;
      }
    }
  }

  .main {
    .section-hero {
      > div {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;

        .hero-text-box,
        .hero-img-box {
          text-align: center;
        }

        .hero-text-box {
          .delivered-meals {
            justify-content: center;
            margin-top: 3.2rem;
          }
        }

        .hero-img-box {
          .hero-img {
            width: 60%;
          }
        }
      }
    }

    .section-featured {
      > div {
        .logos {
          img {
            height: 2.4rem;
          }
        }
      }
    }

    .section-how {
      .grid {
        .step-text-box {
          .step-number {
            font-size: 7.4rem;
          }
        }
      }
    }

    .section-meals {
      .grid {
        .meal {
          .meal-content {
            padding: 2.4rem 3.2rem 3.2rem;
          }
        }
      }
    }

    .section-testimonials {
      grid-template-columns: 1fr;

      .gallery {
        grid-template-columns: repeat(6, 1fr);
      }
    }

    .section-cta {
      padding: 4.8rem 0 12.8rem;

      > div {
        .cta {
          grid-template-columns: 3fr 2fr;

          .cta-text-box {
            .cta-form {
              grid-template-columns: 1fr;

              .btn {
                margin-top: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

/* BELOW 704px (Smaller Tablets) */

@media (max-width: 44em) {
  .main {
    .section-how {
      > div {
        .heading-secondary {
          margin-bottom: 4.8rem;
        }
      }
    }

    .section-meals {
      .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);

        .diets {
          grid-column: 1 / -1;
          justify-self: center;
        }
      }
    }

    .section-pricing {
      .grid {
        .pricing-plan {
          width: 100%;
        }
      }

      .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .footer {
    > div {
      grid-template-columns: repeat(6, 1fr);

      .logo-col,
      .address-col {
        grid-column: span 3;
      }

      .nav-col {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
      }
    }
  }
}

/* BELOW 544px (Phones) */

@media (max-width: 34em) {
  .main {
    .section-hero {
      padding: 2.4rem 0 6.4rem;
      > div {
        padding: 0 3.2rem;

        .hero-text-box {
          .btn {
            &:link,
            &:visited {
              padding: 2.4rem 1.6rem;
            }
          }
        }

        .hero-img-box {
          .hero-img {
            width: 80%;
          }
        }
      }
    }

    .section-featured {
      > div {
        .logos {
          img {
            height: 1.2rem;
          }
        }
      }
    }

    .section-how {
      .grid {
        grid-template-columns: 1fr;
        row-gap: 4.8rem;

        .step-img-box {
          transform: translateX(2.4rem);
        }

        .step-img-box:nth-child(2) {
          grid-row: 1;
        }

        .step-img-box:nth-child(6) {
          grid-row: 5;
        }
      }
    }

    .section-meals {
      .grid {
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
      }
    }

    .section-testimonials {
      .testimonial-container {
        .testimonials {
          grid-template-columns: 1fr;
        }
      }

      .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
      }
    }

    .section-pricing {
      .grid {
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
      }

      .grid--4-cols {
        grid-template-columns: 1fr;
      }
    }

    .section-cta {
      > div {
        .cta {
          grid-template-columns: 1fr;

          .cta-text-box {
            padding: 3.2rem;
          }

          .cta-img-box {
            height: 32rem;
            grid-row: 1;
          }
        }
      }
    }
  }

  .footer {
    .grid {
      row-gap: 4.8rem;
    }
  }
}
